.product-table-container{
    width: 95%;
    min-height: 30%px;
    border: 1px solid rgb(224, 12, 12);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Original Surfer', cursive;
 
    


}
p{
    text-align: center;
    font-size: xx-large;
    color: red;
    word-spacing: 5pt;
    
}
