.filterable-product-table-container{
    min-width: 100%;
    width:50%;
    min-height: 600px;
    border: 5px solid rgb(238, 158, 8);
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    width:80%;
    font-family: 'Original Surfer', cursive;

    
  
  
    
   

    


}