.product-category-row-container{
    border: 2px solid rgb(221, 236, 9);
    font-family: 'Original Surfer', cursive;
    margin-bottom: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    
    
}
 option{
    text-align: center;
}
