.product-category-row-container{
    border: 2px solid rgb(221, 236, 9);
    font-family: 'Original Surfer', cursive;
    margin-bottom: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    
    
}

.tablita{
   
    background-color: rgba(126, 245, 7, 0.445);
    text-align: end;
    box-sizing: border-box;
    border-radius: 10px;

}
